{% extends "layouts/base.html" %}
{% load static %}


{% block content %}

<main>
<div class="px-4 pt-6">
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        
          Mean percentage of all files
         {{ mean_heatmap | safe }}
            
          Standard deviation of the percentage of all files
        {{ std_heatmap | safe }}
      </div>
</div>

  <div class="px-4 pt-6">
      
  </div>

</main>

{% endblock content %}
