{% extends "layouts/base.html" %}
{% load static %}


{% block content %}

<main>
<div class="px-4 pt-6  text-gray-900 dark:text-white">
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    
    Lower cutoffs
    {% for name, threshold in substances %}
        <div>{{ name }} : {{ threshold }}</div>
    {% endfor %}
      </div>
</div>

  <div class="px-4 pt-6">
      <form>
        {% include 'cellviews/visualization/base_visualization.html' %}
      </form>
  </div>

</main>

{% endblock content %}
