{% extends "layouts/base.html" %}
{% load static %}


{% block content %}

<main>
<div class="px-4 pt-6">
      <div
        class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    
    Lower cutoffs
    {% for name, threshold in substances %}
        <div>{{ name }} : {{ threshold }}</div>
    {% endfor %}
      </div>
</div>

  <div class="px-4 pt-6">
      
      {% include 'cellviews/sub_page/dash_embed.html' %}
      
  </div>

</main>

{% endblock content %}

{%load plotly_dash%}