{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<main>
  <div class="px-4 pt-6">
      
<div class="flex flex-wrap ">
  <div class="w-full">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="rounded-t-lg py-3 dark:bg-gray-800 dark:text-white px-4">
        <h6>
          Sample data
        </h6>
      </div>
      <div class="flex-auto px-0 pt-0 pb-2">
        <div class="block w-full overflow-auto scrolling-touch p-0">
          <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
            <thead class="bg-gray-100 dark:bg-gray-700">
              <tr>
                {% for title in header %}
                  <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">{{ title }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                {% for line in jobs %}
                <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                  {% for element in line|slice:"1:" %}
                  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {% if forloop.counter0 == 0 %}
                      <a href="saved_jobs/{{ line.0 }}" class="text-sm mb-0">{{ element }}</a>
                    {% else %}
                      <p class="text-sm mb-0">{{ element }}</p>
                    {% endif %}
                    
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
      
  </div>
</main>

{% endblock content %}