
<div class="flex flex-wrap ">
  <div class="w-full">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="rounded-t-lg py-3 dark:bg-gray-800 dark:text-white px-4">
        <h6>
          Histograms.
        </h6>
      </div>
      <div class="flex-auto px-0 pt-0 pb-2">
        <div class="block w-full overflow-auto scrolling-touch p-0">
          {% for n in hist_amount %}
            <div id="histogram{{ forloop.counter0 }}"></div>
            
            <input type="range" id="slider{{  forloop.counter0 }}" min="0" max="4" step="0.01" value="0">
            <p>Selected value: <span id="sliderValue{{  forloop.counter0 }}">0</span></p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    
    {#const test = 5;#}
    // Load Plotly plot from JSON
    var histData = JSON.parse('{{ hists|escapejs }}');
    console.log(histData);
    
    for (let i = 0; i < histData.length; i++) {
        const containerId = 'histogram' + i;
        let data = JSON.parse(histData[i]);
        
        document.getElementById(containerId).innerHTML = '';
        Plotly.newPlot(containerId, data.data, data.layout);
        
        let slider = document.getElementById('slider' + i);
        let sliderValueDisplay = document.getElementById('sliderValue' + i);
        
        // Event listener to update the histogram's vertical line
        slider.addEventListener('input', function() {
            let xValue = parseFloat(slider.value);
            sliderValueDisplay.textContent = xValue;
    
            // Update the vertical line in the histogram
            Plotly.relayout(containerId, {
                'shapes': [{
                    type: 'line',
                    x0: xValue,
                    x1: xValue,
                    y0: 0,
                    y1: 1,
                    yref: 'paper',
                    line: {
                        color: 'red',
                        width: 2,
                        dash: 'dash'
                    }
                }]
            });
        });
    };
</script>