# Core
django==5.1.2
python-dotenv==1.0.1
str2bool==1.1

# Utils
django-debug-toolbar==4.2.0
Pillow==10.0.1
polars==1.11.0
pandas==2.2.3
pyarrow==18.1.0
plotly==5.24.1
django_components==0.102
regex==2024.11.6


# Dash
packaging==21.3 # potentially can be removed as no longer using dash

# Services
#redis==5.2.0
# celery==5.3.4
# hiredis==2.2.3

# Tooling
django-celery-results==2.5.1
djangorestframework==3.14.0
django-api-generator==1.0.17
drf-spectacular==0.26.5

# Deployment
whitenoise==6.5.0
gunicorn==21.2.0

# DB Layer
# psycopg2-binary==3.1.12
# mysqlclient==2.2.0
