
{% load cellviewer_templatetags %}

<!-- Additional info form -->
<div class="flex flex-wrap ">
  <div class="w-full">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <form method="post" id='form' hx-encoding='multipart/form-data' hx-include="#inputData">

            <div class="grid grid-cols-3 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Experiment name</label>
                    <input type="text" name="name" maxlength="255" placeholder="Experiment name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="id_name">
                    
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Premade annotation selector</label>
                    <select class=" w-full py-1 px-2 mb-1 border border-gray-200 rounded dark:border-gray-600 dark:bg-gray-700 dark:text-white" name="label-select">
                          <option value="None" disabled selected>Select a premade annotation to fill below </option>
                          {% for item in available_labels %}
                            <option value="{{item.id}}">{{ item.matrix_name }}</option>
                          {% endfor %}
                    </select>
                
                </div>
            </div>
        
            <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" 
                    type="submit" name="submit" value="load"
                    hx-post='/load_stored_label_matrix' hx-target="#label-matrix-input-fields"
            >Load premade annotation</button>
            
            <div id="label-matrix-input-fields">
                {% component "label_matrix_input_fields" matrix_name="Annotation name" row_names=row_names col_names=col_names cell_names=cell_names %}
      
                {% endcomponent %}
            </div>
        
            <input type="hidden" name="default-rows" value="{{ default_rows }}">
            <input type="hidden" name="default-cols" value="{{ default_cols }}">
        
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-full">
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" 
                            type="submit" name="submit" value="save"
                            hx-post='/save_job' hx-target="#inner_modal"
                            onclick="response_modal.showModal()"
                            >Save annotation and input file</button>
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" 
                            type="submit" name="submit" value="load"
                            hx-post='/load_dash' hx-target="#dash-embed"
                            >Load dashboard</button>
                </div>
            </div>
        
        </form>
    
        <dialog id="response_modal" class="rounded-lg">
            <div class="relative w-full max-w-2xl max-h-full rounded-lg">
                <div id="inner_modal"></div>
            </div>
        </dialog>
    
    </div>
  </div>
</div>

<br>

<!-- Summary uploaded data widget -->
<div class="flex flex-wrap ">
  <div class="w-full">
  
    {% component "table" title="First 5 rows" %}
    {% fill "header" %}
        {% for title in header %}
          <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">{{ title }}</th>
        {% endfor %}
    {% endfill %}
      
    {% fill "body" %}
        {% for line in table_data %}
        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
          {% for element in line %}
          <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <p class="text-sm mb-0">{{ element }}</p>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      
    {% endfill %}
      
  {% endcomponent %}
  
  </div>
</div>